.landing {
    padding: var(--padding-box-1);
    gap: var(--gap-box-1);
}

.landing .content {
    width: 41.375rem;
    gap: 40px;
}

.content h1 {
    font-size: 3.75rem;
    font-weight: bold;
}

.content p {
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.2rem;
}

.content .action button,
.work .content div button {
    font-size: 1.5rem;
    font-weight: light;
}

.services-i-offer {
    padding: var(--padding-box-1);
    background: var(--color-dark-1);
    color: var(--color-light-2);
    gap: 6.25rem;
}

.services-i-offer button {
    font-size: 2.25rem;
    font-weight: 400;
}

.services-i-offer .bottom-button {
    display: none;
}

.services-i-offer h2 {
    font-size: 3.75rem;
    text-transform: uppercase;
}


.services-i-offer .services {
    gap: 1.2rem;
    width: 50%;
}

.services .service {
    gap: 1.2rem;
    padding: 0 0 1rem 0;
    border-bottom: var(--border-box-light);
}

.service h3 {
    font-size: 2.25rem;
    font-weight: light;
}

.service p {
    align-self: stretch;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-light-2);
    line-height: 2.2rem
}

.my-work {
    padding: var(--padding-box-2);
    gap: var(--gap-box-2);
    flex: 1 0 0;
    align-self: stretch;
}

.my-work h2 {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.my-work .work {
    background: #222;
    height: 800px;
    color: #eeeeee;
}

.work img {
    padding: 25px;
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    max-inline-size: 100%;
    block-size: auto;
    align-self: stretch;
}

.work .content {
    width: 50%;
    padding: var(--padding-box-4);
    align-self: stretch;
}

.work .content div {
    gap: 1.875rem;
}

.work .content div h3 {
    font-size: 3.1rem;
    font-weight: 500;
}

.work .content div p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.875rem;
}

.work .content div .button {
    font-size: 1.8rem;
}


.my-work .work:nth-child(odd) {
    flex-direction: row-reverse;
}

.my-work .action {
    gap: 0.625rem;
}

.my-work .action button {
    text-transform: uppercase;
    color: #DDD;
    background: var(--color-dark-1);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.call-to-action {
    align-items: start;
    padding: var(--padding-box-3);
    gap: var(--gap-box-2);
}

.call-to-action h2 {
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
}

.call-to-action p {
    font-size: 1.5625rem;
    font-weight: 300;
}

.call-to-action .action {
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
}

.call-to-action .action button {
    /* text-transform: uppercase; */
    font-size: 2.25rem;
}

@media(max-width: 1200px) {
    .services-i-offer,
    .landing,
    .call-to-action {
        padding: 100px;
        gap: 50px;
    }

    .content h1,
    .services-i-offer h2 {
        font-size: 2.75rem;
    }

    .service h3 {
        font-size: 1.8rem;
    }

    .services-i-offer .services {
        width: 100%;
    }

    .my-work {
        padding: 50px 0px;
        gap: var(--gap-box-2);
        flex: 1 0 0;
        align-self: stretch;
    }

    .work .content div h3 {
        font-size: 2.5rem;
    }
}

@media(max-width: 1000px) {
    .landing .content {
        width: 100%;
    }
}

@media(max-width: 880px) {
    .services-i-offer {
        flex-direction: column;
        gap: 100px;
    }

    .services-i-offer a {
        display: none;
    }

    .services-i-offer .bottom-button {
        display: block;
    }

    .work {
        flex-direction: column;
    }

    .work img,
    .work .content {
        width: 100%;
    }

    .work img {
        
        height: 100%;
    }

    .my-work .work:nth-child(odd) {
        flex-direction: column;
    }
    

    .content .action button,
    .work .content div button {
        font-size: 1.2rem;
    }

    .work .content,
    .work img {
        padding: 10px;
    }

    .work .content {
        align-items: start;
        justify-content: start;
        padding: 50px 10px;
    }   
}

@media(max-width: 720px) {

    .landing,
    .services-i-offer,
    .call-to-action {
        padding: 100px 50px;

    }
}

@media(max-width: 540px) {

    .landing,
    .services-i-offer,
    .call-to-action {
        padding: 100px 25px;

    }
}