:root {
    --color-dark-1: #222;
    --color-dark-2: #444;
    --color-light-1: #eee;
    --color-light-2: #ddd;

    --font-family-1: 'Montserrat', Sans-serif;
    --button-padding: 10px 14px;
    --button-background-light: var(--color-light-1);
    --button-background-dark: var(--color-dark-1);

    --border-box-dark: 1px solid var(--color-dark-1);
    --border-box-light: 1px solid var(--color-light-1);

    --background-color-dark: var(--color-dark-1);
    --background-color-light: var(--color-light-1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    font-family: var(--font-family-1);
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

a {
    color: var(--color-dark-1) !important;
    text-decoration: none;
}

.button {
    display: flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: none;
}

.button-dark {
    background: var(--color-dark-1);
    color: var(--color-light-1);
}

.button-light {
    background: var(--color-light-1);
    color: var(--color-dark-1);
}

.action {
    display: flex;
    align-items: center;
    gap: 40px;
}

